<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>File management API Service</title>

        <link
            rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
        />
        <style>
            body {
                padding-top: 50px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                <h2>Version:<%= version%></h2>
            </div>
            <div class="jumbotron">
                <h1>file service is running</h1>
            </div>
            <div>
                <h5>Name: <%= author.name%></h5>
                <h5>Email: <%= author.email%></h5>
            </div>
        </div>
    </body>
</html>
